@import url('https://fonts.googleeapis.com/css2?family=poppins:wght@200;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color:   #0d4464;
    color: #fff;
    font-family: 'poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width:100vw;
    margin: 1rem;
}
.user-info h2{
    text-align: center;
}
.user-form{
    width: 80%;
    max-width: 70%;
}
.user-form input {
    width: 100%; 
    margin-bottom: 1rem;
    padding: 0.5rem; 
    border: none;
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
    border-radius: 2rem;
    font-family: inherit;
}  


.user-form :focus{
    outline: none;
}

.card{ 
    
    background-color: #181823; 
    font-style: none;
    width: 65vw;
    height: 65vh; 
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 5px 10px rgba(10, 10, 10, 0.8);
    border-radius: 1.5rem;
    justify-content: center;
    padding: 1rem;
}


.avatar{
    border: 10px solid #3A98B9;
    border-radius: 50%;
    height: 9rem;
    width: 9rem;
    display: flex;
    flex-shrink: 20%;
}
.user-info{
    padding: 0.5rem;
    flex: 1 1 30;

}
.card p{
    font-size: .8rem;
}
.card ul{
  padding: 2rem 2rem .6rem 2rem;
    display: flex;
    flex: 1 1 2;
    
}
.user-info ul li{
    list-style: none;
    padding-right: 2rem;
    font-style: inherit;
    align-items: center;
    justify-content: space-around;
  

}
#repos{
    justify-content: left;
    display: flex;
} 
#repos a{
    text-decoration: none;
    color: aqua;
    font-size: small;
    display: flex;   
    padding: .2rem; 
  }

  .repos{
    text-decoration: none;
    color: #339ad6;
    border-radius: 1rem;
    padding: .1rem;
    margin-right: .4rem;
    background-color: rgb(66, 64, 64);
    font-size: medium;
    

    
  }
    
@media (width: 485px) {
    
    #repos a{
      text-decoration: none;
      color: aqua;
      font-size: small;
      display: flex;
      padding-right: .1rem;
      margin-right: .3rem;
      flex-direction: column;
  
     
    }
    .card .user-info  ul li{
      padding-right: 0;
      font-size: .7rem;
      
    }
    
    body {
      margin: 0rem;
    }
    .avatar {
      border: 0.4rem solid #3A98B9;
      height: 4rem;
      width: 4rem;
      display: flex;
      flex-direction: column;
  
    }
    .user-info {
      align-content: inherit;
      display: flex;
      flex-wrap: wrap;
      flex-shrink: 3;
      
      
    }
    
    .card {
      padding: 2rem;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      justify-self: center;
    }
    .card p {
      display: flex;
      flex-wrap: wrap;
      flex-basis: 50%;
      font-size: xx-small;
    }
    .card li {
       font-style: inherit; 
      padding: 0.2rem;
      font-size: small;
    }

  
  * {
    align-content: center;
  }
  
  #repos {
    text-decoration: none;
    color: aqua;
    font-size: xx-small;
    display: flex;
    padding: 0.3rem;
    justify-content: space-evenly ;

  }}
  
@media (max-width: 380px) {
    .avatar {
      border: 0.1rem solid #3A98B9;
      height: 4rem;
      width: 4rem;
      display: flex;
      flex-direction: column;
  
    }
    .user-info {
     
      padding: 0.09rem;
      align-content: inherit;
      display: flexbox;
      top:0;
      
      
    }
    
    .card {
      padding: 2rem;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      justify-self: center;
    }
    .card p {
      display: flex;
      flex-wrap: wrap;
      flex-basis: 80%;
      font-size: xx-small;
    }
    .card li {
       font-style: inherit; 
      padding: 0.2rem;
      font-size: small;
    }
    .card ul {
        padding: 1rem;
    }
  
  
  * {
    align-content: center;
  }
  
  #repos {
    text-decoration: none;
    color: aqua;
    font-size: xx-small;
    display: flex;
    padding: 0.3rem;
    justify-content: space-evenly ;

  }
  
}